@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Open+Sans:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #323742;
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #d2d2d2;
  --color-green: #36e2d4;
  --color-blue: #89acf6;
  --color-blue-darker: #6d89c4;
  --color-blue-darkest: #526793;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1rem;
}

.disabled {
  display: none;
}

.link {
  color: var(--color-blue);
}

.link:hover {
  color: var(--color-blue-darker);
}

.link:active {
  color: var(--color-blue-darkest);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--color-text-primary);
    background: var(--color-background);
  }
}

/* TODO: change colors to fit light theme */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--color-text-primary);
    background: var(--color-background);
  }
}
